html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    width: 100% !important;
    overflow-x: hidden !important;
}

.container {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.header {
    width: 100%;
    height: 500px;
    background-image: url(bg.png);
    font-size: 2.5em;
    display: block;
    padding-top: 25px;
}

.logo {
    width: 280px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 50px;
}

.header-content {
    height: 250px;
    text-align: center;
}
.header-content h3{
    margin-bottom: 70px;
}
.header-content input {
    height: 50px;
    text-align: center;
    font-size: 1em;
}
.btn {
    height: 50px;
    width: 80px;
    margin-bottom: 12px;
    background-color: #30BA02;
    font-weight: bold;
    font-size: 0.5em;
    color: #fff;
}

.info {
    width: 100%;
    background-color: #FAFAFA;
    padding-top: 25px;
    color: #898A88;
}

.info h1 {
    text-align: center;
    margin-bottom: 50px;
}

.info img {
    width: 180px;
    
}

.row {
    min-height: 300px;
}

.col-sm-6 {
    text-align: center;
}

.col-sm-6 p {
    max-width: 600px;
    margin: 0 auto;
}

/*Mobile Style*/
@media(max-width: 780px) {
    .row .col-sm-6 {
        margin-bottom: 70px;
    }
}

@media(max-width: 610px) {
    .header {
        height: 550px;
    }
    .header-content input {
        margin-bottom: 20px;
    }
    
    .header-content button {
        width: 150px;
        height: 60px;
    }
    
    .info {
      
    }
    .row .col-sm-6 {
        margin-bottom: 50px;
    }
}

@media(max-width: 550px) {
    .header-content input {
        width: 90%;
        font-size: 0.8em;
    }
}