// out: main.css, sourcemap: false, compress: true

/* Variables */
transparent_black = rgba(0,0,0,.3)
bitter_lemon = #E5F04C
sulu = #D1E751//#B1CF72

html
  margin 0px
  padding 0px
  width 100%
  height auto
  font-size 62.5%
  overflow-x hidden

body
  position relative
  margin 0px
  padding 0px
  width 100%
  height auto
  font-family: 'Montserrat', sans-serif;
  overflow-x hidden

h1, h2, h3, h4, h5
  margin 0
  padding 0

.container
  width 100%
  height auto
  font-size 1.6rem
/*
  The menu is fixed.
*/
nav
  position fixed
  width 100%
  height 6rem
  background-color #000
  z-index 1000
  line-height 6rem
  decoration none
  h1
    position absolute
    left 4rem
    color #fff
    font-size 2.2rem
  .menu
    position absolute
    right 10%
    font-size 2rem
    font-weight bold
  a
    display inline-block
    width 10rem
    height 6rem
    text-align center
    text-decoration none
    margin-left 2rem
  a:link
    color #fff
  a:hover
    background-color #fff
    color #000

/*
  Header image container is always 100% wide, but resizes
  horizontally.
*/
.img-container
  position relative
  width 100%
  max-height 60rem
  /* Add padding with the menu height */
  padding-top 6rem
  /* Make image self crop */
  overflow hidden
  .heading
    position absolute
    width 100%
    height 100%
    bottom 0
    text-align center
    font-weight bold
    z-index 900
    color #fff
    background-color transparent_black
    .heading-text
      position absolute
      width 100%
      height 20rem
      bottom 5%
      text-align center
      h3
        font-size 5rem
      p
        font-size 2.5rem
  .arrow
    width 10rem
    height 10rem
  .header-image
    width 100%
    min-height 30rem

/* 3 column grid */
.about
  font-size 5rem
  width 100%
  height auto
  min-height 60rem
  margin-top 8rem
  font-family: 'Roboto Condensed', sans-serif;
  .box-container
    width 100%
    height 100%
    background-color #fff
    .info-box
      display inline-block
      float left
      margin-left 0rem
      text-align center
      width 33%
      height 100%
      padding 0rem
      img
        width 25rem
        height 25rem
        margin-bottom 1rem
        border-radius 50%
      .description
        width 100%
        height 15rem
        position relative
        bottom -1rem
        margin-top 2rem
        font-size 3.5rem
        // font-weight bold
        opacity 1
      .learn-more
        font-size 3rem
        width 30rem
        line-height 10rem
        height 10rem
        background-color sulu//#D1E751//#A7E82E
        margin 0 auto
        margin-bottom 10rem
.get-in-touch
  /* Clear floats from the top 3 elements */
  clear both
  width 40rem
  height 10rem
  font-size 4rem
  margin 0 auto
  // background-color hotpink
  ~ hr
    //position relative
    width 52rem
    margin 0 auto
    height 1  px
    background-color #18ACDD
.contact
  width 80%
  height 50rem
  padding 10rem
  margin 0 auto
  font-family: 'Roboto Condensed', sans-serif;
  .map
    float left
    margin-left 10rem
  .address
    float right
    margin-right 20rem
  p
    font-size 2.2rem
    opacity 0.7

/* Mobile version */

/* Styles for contact info */
@media(max-width 90rem)
  .contact
    width 100%
    .map
      margin 0

@media(max-width 72rem)
  .about
    width inherit
    .box-container
      width inherit
      .info-box
        display block
        width 100%
        .description
          height 10rem
        .learn-more
          width 100%
          height 15rem
          line-height 15rem
  /*
    Styles for map and adress
    Don't display the map on phones
  */
  .contact
    clear both
    width 100%
    text-align center
    .map
      display none
    .address
      position absolute
      width 100%
      left 12%
      font-size 2.5rem
    .col-left
      float left
    .col-rigth
      float right
    hr
      display none

@media(max-width 50rem)
  .img-container
    h1
      font-size 1.2rem
      padding-left 1.2rem
    .heading
      .heading-text
        h3
          font-size 3rem
    .arrow
      width 5rem
      height 5rem
/* Make images and learn more buttons smaller on phones*/
  .about
    .box-container
      .info-box
        img
          width 20rem
          height 20rem
        .learn-more
          height 10rem
          line-height 10rem
  .contact
    height 20rem
    .address
      width 100%
      left 5%
