nav
  width 22rem
  min-height 100%
  float left;
  background-color bg-black
  color white

#user-profile
  height 18rem
  text-align center
  img
    margin-top 20px;
    height 80px
    border-radius 50%
    margin-bottom: 20px;
  overflow hidden

.menu-items
